{% extends 'perfil_diseño_base.html' %}

{% block stylecontent %}
<style>
    h2 {
        position: absolute;
        bottom: 35rem;
        left: 0rem;
        right: 0px;
    }
    h4 {
        position: absolute;
        bottom: 17rem;
        left: 24rem;
        right: 20rem;
    }
    small{
        position: absolute;
        bottom: 15rem;
        left: 24rem;
        right: 20rem;
    }
    button{
        position: absolute;
        bottom: 11rem;
        left: 45rem;

    }
  </style>
{% endblock %}

{% block bodycontent %}
    <section id="welcome_post" class="col-9">
        <h2 class="container text-center">Bienvenido al módulo de deposito, <span id="nombre_usuario">{{ user }}</span></h2>
        <form action="{ url 'transaccions:deposito }" method="post">
            {% csrf_token %}

            <h4 style="font-weight: 200;">
                {{ form }}
            </h4>
            <br>
            <small>Al depositar dinero a su cuenta, acepta los <a href="#">Términos y condiciones</a> de deposito</small>. <br>
            <button type="submit" class="btn btn-danger">Depositar dinero dinero</button>
        </form>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#transfer").addClass("current");

        $("input").addClass("form-control");
        $("label").prepend("<br>")
    </script>
{% endblock %}